In [1]:
def f():
    pass

In [2]:
type(f())

NoneType

In [2]:
f.__name__

'f'

In [3]:
f

In [4]:
f.__name__ = 'g'

In [5]:
g

NameError: name 'g' is not defined

In [6]:
f.__name__

'g'

In [7]:
f

In [9]:
f.__dict__

{}

In [10]:
f.foo = 'bar'
f.__dict__

{'foo': 'bar'}

In [11]:
def f(a, b, k1='k1', k2='k2',
       *args, **kwargs):
    print('a: {!r}, b: {!r}, '
        'k1: {!r}, k2: {!r}'
        .format(a, b, k1, k2))
    print('args:', repr(args))
    print('kwargs:', repr(kwargs))

In [12]:
f.__defaults__

('k1', 'k2')

In [13]:
f(1, 2)

a: 1, b: 2, k1: 'k1', k2: 'k2'
args: ()
kwargs: {}

In [14]:
f(a=1, b=2)

a: 1, b: 2, k1: 'k1', k2: 'k2'
args: ()
kwargs: {}

In [15]:
f(b=1, a=2)

a: 2, b: 1, k1: 'k1', k2: 'k2'
args: ()
kwargs: {}

In [16]:
f(1, 2, 3)

a: 1, b: 2, k1: 3, k2: 'k2'
args: ()
kwargs: {}

In [17]:
f(1, 2, k2=4)

a: 1, b: 2, k1: 'k1', k2: 4
args: ()
kwargs: {}

In [18]:
f(1, 2, 3, 4, 5, 6)

a: 1, b: 2, k1: 3, k2: 4
args: (5, 6)
kwargs: {}

In [19]:
f(1, 2, 3, 4, keya=7, keyb=8)

a: 1, b: 2, k1: 3, k2: 4
args: ()
kwargs: {'keyb': 8, 'keya': 7}

In [20]:
def g(a, b, *args, c=None):
    print('a: {!r}, b: {!r}, '
        'args: {!r}, c: {!r}'
        .format(a, b, args, c))

In [23]:
g.__defaults__

In [22]:
g.__kwdefaults__

{'c': None}

In [24]:
g(1, 2, 3, 4)

a: 1, b: 2, args: (3, 4), c: None

In [25]:
g(1, 2, 3, 4, c=True)

a: 1, b: 2, args: (3, 4), c: True

Keyword-only arguments in Python 3, i.e. named parameters occurring after *args (or *) in the parameter list must be specified using keyword syntax in the call. This lets a function take a varying number of arguments and also take options in the form of keyword arguments.

In [26]:
def h(a=None, *args, keyword_only=None):
    print('a: {!r}, args: {!r}, '
        'keyword_only: {!r}'
        .format(a, args, keyword_only))

In [27]:
h.__defaults__

(None,)

In [28]:
h.__kwdefaults__

{'keyword_only': None}

In [29]:
h(1)

a: 1, args: (), keyword_only: None

In [30]:
h(1, 2)

a: 1, args: (2,), keyword_only: None

In [31]:
h(*range(15))

a: 0, args: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14), keyword_only: None

In [32]:
h(1, 2, 3, 4, keyword_only=True)

a: 1, args: (2, 3, 4), keyword_only: True

In [33]:
h(1, keyword_only=True)

a: 1, args: (), keyword_only: True

In [34]:
h(keyword_only=True)

a: None, args: (), keyword_only: True

In [35]:
def h2(a=None, *, keyword_only=None):
    print('a: {!r}, '
        'keyword_only: {!r}'
        .format(a, keyword_only))

In [37]:
h2()

a: None, keyword_only: None

In [3]:
h2(1)

NameError: name 'h2' is not defined

In [39]:
h2(keyword_only=True)

a: None, keyword_only: True

In [40]:
h2(1, 2)

TypeError: h2() takes from 0 to 1 positional arguments but 2 were given

## Assignment Statements

Create two names for the str object 123, then from it create 1234 and reassign one of the names:

In [41]:
s1 = s2 = '123'
s1 is s2, s1, s2

(True, '123', '123')

In [42]:
s2 = s2 + '4'
s1 is s2, s1, s2

(False, '123', '1234')

We can see this reassigns the second name so it refers to a new object. This works similarly if we start with two names for one list object and then reassign one of the names.

In [43]:

m1 = m2 = [1, 2, 3]
m1 is m2, m1, m2

(True, [1, 2, 3], [1, 2, 3])

In [44]:
m2 = m2 + [4]
m1 is m2, m1, m2

(False, [1, 2, 3], [1, 2, 3, 4])

If for the str objects we instead use an *augmented assignment statement, specifically in-place add *+=, we get the same behaviour.

In [45]:
s1 = s2 = '123'

In [46]:
s2 += '4'
s1 is s2, s1, s2

(False, '123', '1234')

In [47]:
m1 = m2 = [1, 2, 3]

In [48]:
m2 += [4]
m1 is m2, m1, m2

(True, [1, 2, 3, 4], [1, 2, 3, 4])

The += in foo += 1 is not just syntactic sugar for **foo = foo + 1. +=** and other augmented assignment statements have their own bytecodes and methods.
Let's look at the bytecode to confirm this. Notice BINARY_ADD vs. INPLACE_ADD. Note the runtime types of the objects referred to my s and v is irrelevant to the bytecode that gets produced.

In [49]:
import codeop, dis

In [50]:
dis.dis(codeop.compile_command("a = a + b"))

  1           0 LOAD_NAME                0 (a)
              3 LOAD_NAME                1 (b)
              6 BINARY_ADD
              7 STORE_NAME               0 (a)
             10 LOAD_CONST               0 (None)
             13 RETURN_VALUE

In [51]:
dis.dis(codeop.compile_command("a += b"))

  1           0 LOAD_NAME                0 (a)
              3 LOAD_NAME                1 (b)
              6 INPLACE_ADD
              7 STORE_NAME               0 (a)
             10 LOAD_CONST               0 (None)
             13 RETURN_VALUE

In [52]:
m2 = [1, 2, 3]

In [53]:
m2

[1, 2, 3]

In [54]:
m2.__iadd__([4])

[1, 2, 3, 4]

In [55]:
m2

[1, 2, 3, 4]

In [56]:
s2.__iadd__('4')

AttributeError: 'str' object has no attribute '__iadd__'

So what happened when INPLACE_ADD ran against the str object?
If INPLACE_ADD doesn't find __iadd__ it instead calls __add__ and reassigns s1, i.e. it falls back to __add__.

In [57]:
t1 = (7,)
t1

(7,)

In [58]:
t1[0] += 1

TypeError: 'tuple' object does not support item assignment

In [59]:
t1[0] = t1[0] + 1

TypeError: 'tuple' object does not support item assignment

In [60]:
t1

(7,)

In [61]:
t2 = ([7],)
t2

([7],)

In [62]:
t2[0] += [8]

TypeError: 'tuple' object does not support item assignment

In [63]:
t2

([7, 8],)

Let's simulate the steps to see why this behaviour makes sense.

In [64]:
m = [7]

In [66]:
t2 = (m,)

In [67]:
t2

([7],)

In [68]:
temp = m.__iadd__([8])

In [69]:
temp == m

True

In [70]:
temp is m

True

In [71]:
temp

[7, 8]

In [72]:
t2

([7, 8],)

In [73]:
t2[0]=temp

TypeError: 'tuple' object does not support item assignment

## Function Arguments are Passed by Assignment¶

Can functions modify the arguments passed in to them?

When a caller passes an argument to a function, the function starts execution with a local name (the parameter from its signature) referring to the argument object passed in.

In [74]:
def test_1a(s):
    print('Before:', s)
    s += ' two'
    print('After:', s)

In [75]:
s1 = 'one'
s1

'one'

In [76]:
test_1a(s1)

Before: one
After: one two

In [78]:
s1

'one'

To see more clearly why s1 is still a name for 'one', consider this version which is functionally equivalent but has two changes highlighted in the comments:

In [79]:
def test_1b(s):
    print('Before:', s)
    s = s + ' two'  # Changed from +=
    print('After:', s)

In [80]:
test_1b('one')  # Changed from s1 to 'one'

Before: one
After: one two

In both cases the name s at the beginning of test_1a and test_1b was a name that referred to the str object 'one', and in both the function-local name s was reassigned to refer to the new str object 'hello there'.

Let's try this with a list.

In [82]:
def test_2a(m):
    print('Before:', m)
    m += [4]  # list += list is shorthand for list.extend(list)
    print('After:', m)

In [83]:
m1 = [1, 2, 3]

In [84]:
m1

[1, 2, 3]

In [85]:
test_2a(m1)

Before: [1, 2, 3]
After: [1, 2, 3, 4]

In [86]:
m1

[1, 2, 3, 4]